.rev-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
  max-width: 100%;
  text-align: center;
  background: var(--mainRed);
}

.note {
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
  color: red;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

.review {
  margin: 0 1rem;
  max-width: 350px;
  flex: 1;
}

.head-review {
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}

.review-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.body-review {
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
}

.name-review {
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: 0.25rem;
}

.rating {
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}

.desc-review {
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

@media (max-width: 678px) {
  .review {
    margin-top: 1.5rem;
  }
}
