@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap%27');

:root {
  --mainRed: #45230f;
  --mainYellow: #955f31;
  --mainBlue: #3b555d;
  --mainGray: #233237;
  --mainWhite: #fff;
  --mainDark: #000;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: 'Bebas Neue', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.5rem !important;
}

.text-dark {
  color: var(--mainDark) !important;
}

.text-gray {
  color: var(--mainGray);
}

.text-white {
  color: #ffff;
}

.title {
  letter-spacing: 0.3rem;
  font-weight: 400;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.btn-white {
  color: var(--mainWhite) !important;
  border-color: var(--mainWhite) !important;
}

.btn-white:hover {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.default-background {
  min-height: 90.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.menu {
  background: var(--mainYellow);
}

.contact {
  background: var(--mainBlue);
}

.coffee-bag > img{ 
  height: 60px;
  width: 60px;
}

.coffee-cup > img{
  height: 60px;
  width: 60px;
}
